{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
	"ecmaFeatures": {
		"binaryLiterals": false,                    // enable binary literals
		"blockBindings": true,                      // enable let and const (aka block bindings)
		"defaultParams": false,                     // enable default function parameters
		"forOf": false,                             // enable for-of loops
		"generators": false,                        // enable generators
		"modules": true,
    "objectLiteralComputedProperties": false,   // enable computed object literal property names
		"objectLiteralDuplicateProperties": false,  // enable duplicate object literal properties in strict mode
		"objectLiteralShorthandMethods": false,     // enable object literal shorthand methods
		"objectLiteralShorthandProperties": false,  // enable object literal shorthand properties
		"octalLiterals": false,                     // enable octal literals
		"regexUFlag": false,                        // enable the regular expression u flag
		"regexYFlag": false,                        // enable the regular expression y flag
		"templateStrings": false,                   // enable template strings
		"unicodeCodePointEscapes": false,           // enable code point escapes
		"jsx": false                                // enable JSX
	},
  "rules": {
    "comma-dangle": 2,
    "no-debugger": 2,
    "no-dupe-keys": 2,
    "no-extra-semi": 2,
    "semi": [2, "always"],
    "no-invalid-regexp": 2,
    "no-unreachable": 1,
    "valid-jsdoc": 1,

    "curly": 1,
    "no-shadow": 2,
    "no-undef": 2,
    "quotes": [2, "single"]
  }
}
